<% 
var d = jsonData; 
-%>
<a href="http://www.pacwell.co.jp/contact.html" class="p-common-banner">
    <div class="p-common-banner__lead">
        お問い合わせ・無償デモのお申し込みは今すぐ！
        <svg class="p-common-banner__icon" aria-label="お問い合わせ" width="40" height="40" role="img"><use xlink:href="#svg-mail" /></svg>
    </div>
    <div class="p-common-banner__content">
        <span class="p-common-banner__text">お電話でのお問い合わせ</span>
        <strong class="p-common-banner__strong">TEL：048-711-3789</strong>
    </div>
</a>



<div class="p-large-banner">
    <p class="p-large-banner__lead">導入前にその魅力をお確かめいただけます！</p>
    <div class="p-large-banner__content">
        <div class="p-large-banner__catch">無償デモ＆<br>無料サンプル</div>
        <div class="p-large-banner__circle">実施中！</div>
    </div>
    <a href="http://www.pacwell.co.jp/contact.html" class="p-large-banner__link">
        お問い合わせ・無償デモのお申し込みは今すぐ！
        <svg class="p-large-banner__icon" aria-label="お問い合わせ" width="40" height="40" role="img"><use xlink:href="#svg-mail-large" /></svg>
    </a>
</div>


    <a href="http://www.pacwell.co.jp/product/catalog.html" class="p-download-button">
        カタログはこちらからダウンロードできます
        <svg class="p-download-button__icon" aria-label="ダウンロード" width="48" height="48" role="img"><use xlink:href="#svg-download" /></svg>
    </a>

<article class="p-case-article">
    <div class="p-case-article-head">
        <div class="p-case-article-head__container">
            <h3 class="p-case-article-head__name">トラスコ中山株式会社<span class="p-case-article-head__honor">様</span></h3>
            <div class="p-case-article-head__detail">
                <dl class="p-case-article-head__dl">
                    <dt class="p-case-article-haed__dt c-tag">事業内容</dt>
                    <dd class="p-case-article-haed__dd">
                        プロツール（工場用副資材)の卸売及び自社ブランド製品の企画開発
                    </dd>
                </dl>
                <dl class="p-case-article-head__dl">
                    <dt class="p-case-article-haed__dt c-tag">導入機種</dt>
                    <dd class="p-case-article-haed__dd p-case-article-haed__dd--brand">
                        X-Fill A
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</article>