

.p-kv {
    align-items: center;
    background: url(#{$IMG_PATH}kv01.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    height: 350px;
    justify-content: center;
    padding: 0 10px;
}

.p-kv__title {
    color: $base-white-taxt-color;
    font-size: 57px;
    text-shadow: 0 0 20px $base-blue;
}

.p-top-main {
    margin: 37px auto 0;
}

.p-top-main__title {
    border-bottom: 1px solid $base-pink;
    color: $base-pink;
    font-size: 42px;
    font-weight: bold;
    margin: 0 auto;
    max-width: $pc-max-width;
    text-align: center;
}

.p-top-checklist {
    margin: 0 auto;
    max-width: $pc-max-width;
}

.p-top-checklist__detail {
    @include getTriangle ($base-pink, bottom, 140, 65);
    display: flex;
    padding: 32px 230px 0 53px;
    position: relative;

    &::before {
        bottom: -90px;
        left: 0;
        margin: auto;
        right: 0;
        z-index: 2;
    }
}



.p-top-checklist__item {
    color: $base-blue;
    display: flex;
    font-size: 28px;

    & + & {
        margin: 12px 0 0;
    
}
    &::before {
        background: url(#{$IMG_PATH}icon-check.svg) center top no-repeat;
        content:"";
        height: 15px;
        flex-basis: 15px;
        margin: 20px 5px 0 0;
        width: 15px;
    }
}

.p-top-checklist__illust {
    position: absolute;
    right: 35px;
    top: 22px;
}
.p-top-introduction {
    margin: 69px 0 0;
    position: relative;
}

.p-top-introduction-kv {
    display: flex;
    position: relative;
    z-index: 1;
}

.p-top-introduction-kv__text {
    align-items: center;
    background: $base-blue;
    color: $base-white-taxt-color;
    display: flex;
    flex: 1;
    font-size: 42px;
    font-weight: bold;
    justify-content: center;
    line-height: 1.6;
    padding: 0 10px;
}

.p-top-introduction-kv__image {
    background: url(#{$IMG_PATH}kv02.jpg) center no-repeat;
    background-size: cover;
    flex: 1;
    height: 420px;
}

.p-top-introduction-illust {
    bottom: 38px;
    font-size: 0;
    left: 0;
    margin: auto;
    max-width: 294px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30%;
    z-index: 2;

    & img {
        max-width: 294px;
        width: 100%;
    }
}

.p-top-product {
    margin: 0 auto;
    max-width: calc(#{$pc-max-width} + 20px);
    padding: 0 10px;
    position: relative;
}

.p-top-product-title {
    @include getTriangle ($base-pink, bottom, 510, 145);
    margin: -43px auto 0;
    max-width: 510px;
    z-index: 2;

    &::before {
        left: 0;
        right: 0;
    }
}

.p-top-product-title__text {
    color: $base-white-taxt-color;
    display: block;
    font-size: 21px;
    font-weight: bold;
    left: 0;
    line-height: 1.6;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
    width: 100%;
}

.p-top-product-content {
    text-align: center;
    padding: 178px 0 0;
}

.p-top-product-content__title {
    color: $base-blue;
    font-size: 33px;
    font-weight: normal;
}

.p-top-ptoduct-content__brand {
    padding: 0 0 0 40px;
}

.p-top-product-content__lead {
    font-size: 21px;
    line-height: 2.2;
    padding: 38px 75px 0;
}

.p-top-product-type {
    margin: 65px 0 0;
}

.p-top-about {
    max-width: calc(#{$pc-max-width} + 20px);
    margin: 50px auto 0;
    padding: 0 10px;
}

.p-top-about-block {
    padding: 20px 0 30px;

    & + & {
        border-top: 1px solid $base-gray-border;
    }
}

.p-top-about-block__dl {
    align-items: center;
    display: flex;
}

.p-top-about-block__dt {
    flex-basis: 273px;
}

.p-top-about-block__dd {
    font-size: 18px;
}

.p-top-about-block__illust {
    font-size: 0;
    text-align: center;

    &--mt {
        margin: 28px 0 0;
    }
}

.p-top-banner {
    margin: 40px 10px 0;
}

.p-point {
    margin: 69px 0 0;
}

.p-point-title {
    background: $palette-F2E10A;
}

.p-point-title__text {
    color: $base-blue;
    display: block;
    font-size: 26px;
    max-width: $pc-max-width;
    margin: 0 auto;
    padding: 10px 10px 10px 70px;
}

.p-point-content {
    background: $base-gray-background;
    border-bottom: 2px solid $base-yellow;
    margin: 15px 0 0;
    padding: 35px 0 56px;
}

.p-point-content__list {
    max-width: $pc-max-width;
    margin: 0 auto;
    padding: 0 10px 0 70px;
}

.p-point-content__item {
    display: flex;
    font-size: 26px;

    & + & {
        margin: 14px 0 0;
    
}
    &::before {
        background: $base-pink;
        border-radius: 50%;
        content:"";
        height: 23px;
        flex-basis: 23px;
        margin: 15px 5px 0 0;
        width: 23px;
    }
}

.p-case {
    background: $base-gray-background;
    padding: 0 0 68px;
}

.p-case-head {
    align-items: flex-end;
    display: flex;
    max-width: calc(#{$pc-max-width} + 20px);
    margin: 0 auto;
    padding: 0 10px;
}

.p-case-head__title {
    background: url(#{$IMG_PATH}case-title.svg) center top no-repeat; 
    color: $base-blue;
    flex-basis: 298px;
    font-size: 30px;
    height: 221px;
    margin: -19px 0 0;
    width: 298px;
    padding: 108px 0 0 68px;
}

.p-case-head__text {
    font-size: 18px;
    margin: 0 0 38px;
}

.p-case-body {
    margin: 22px 0 0;
}

.p-other {
    // margin: 60px 0 0;
}

.p-other-title {
    background: $base-yellow;
    font-size: 26px;
    font-weight: normal;
    padding: 4px 10px;
    text-align: center;
}

.p-other-content {
    color: $base-blue;
    margin: 38px auto 0;
    max-width: 660px;
    padding: 0 10px;
}

.p-other-content__text {
    border-bottom: 1px solid $base-yellow;
    font-size: 26px;
    font-weight: bold;
    padding: 0 0 5px;
    text-align: center;
}

.p-other-content__catch {
    font-size: 21px;
    line-height: 1.4;
    margin: 28px 0 0;
    text-align: center;
}

.p-other-content__list {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0;
    padding: 0 8px 0 0;
}

.p-other-content__item {
    text-align: center;
}

.p-other-content__type {
    font-size: 18px;
    line-height: 1;
}

.p-other-content__en {
    font-size: 2.22em;
}

.p-other-content__image {
    margin: 5px 0 0;
}

.p-other-banner {
    padding: 40px 10px 0;
}

.p-faq {
    background: $base-gray-background;
    margin: 62px 0 0;
}

.p-faq-head {
    background: $base-yellow;
    color: $base-blue;
    padding: 10px;
}

.p-faq-head__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $pc-max-width;
    line-height: 1;
    padding: 0 0 0 72px;
}

.p-faq-head__title {
    font-size: 50px;
}

.p-faq-head__and {
    font-size: 35px;
}

.p-faq-head__ja {
    font-size: 26px;
    font-weight: bold;
}

.p-faq-body {
    padding: 16px 10px 21px;
}

.p-faq-body__list {
    max-width: $pc-max-width;
    margin: 0 auto;

}

.p-faq-body__item {
    padding: 30px 0 30px 68px;

    & + & {
        border-top: 1px solid $base-white;
    }
}

.p-faq-body__text {
    align-items: center;
    display: flex;
    font-size: 26px;

    &::before {
        align-items: center;
        background: $base-blue;
        border-radius: 50%;
        color: $base-white-taxt-color;
        content: "Q";
        display: flex;
        flex-basis: 70px;
        font-size: 45px;
        font-weight: bold;
        height: 70px;
        justify-content: center;
        margin: 0 20px 0 0;
        width: 70px;
    }

    &--a {
        font-weight: bold;
        margin: 14px 0 0;
        &::before {
            background: $base-yellow;
            color: $base-blue;
            content: "A";
        }
    }
}

.p-bottom-product-type {
    margin: 66px auto 0;
    max-width: calc(#{$pc-max-width} + 20px);
    padding: 0 10px;
    text-align: center;
}

.p-bottom-banner {
    margin: 61px 10px 0;
}