// palette
$palette-000: #000;
$palette-0A387B: #0a387b;
$palette-646464: #646464;
$palette-767878: #767878;
$palette-777878: #777878;
$palette-787878: #787878;
$palette-828282: #828282;
$palette-998675: #998675;
$palette-B9C6E1: #B9C6E1;
$palette-DCDCD7: #DCDCD7;
$palette-E1DBD6: #e1dbd6;
$palette-F2E10A: #F2E10A;
$palette-FF3366: #f36;
$palette-F5F5F0: #F5F5F0;
$palette-FF99B2: #FF99B2;
$palette-FFF: #fff;

$base-white: $palette-FFF;
$base-black: $palette-000;
$base-blue: $palette-0A387B;
$base-pink: $palette-FF3366;
$base-yellow: $palette-F2E10A;

// テキストカラー
$base-black-taxt-color: $palette-000;
$base-white-taxt-color: $palette-FFF;

// ボーダーカラー
$base-gray-border: $palette-DCDCD7;

// 背景
$base-gray-background: $palette-F5F5F0;

// 共通バナー設定
$common-banner-background-hover: $palette-FF99B2;
$common-banner-gray-text: $palette-787878;

// 共通バナー（大）設定
$large-banner-gray-text: $palette-777878;
$large-banner-gray-icon: $palette-767878;

// ダウンロードボタン
$download-button-background-hover: $palette-B9C6E1;
$large-mail-icon-color: $palette-767878;

// TOPに戻るボタン設定
$pagetopbutton-triangle-color: $palette-E1DBD6;
$pagetopbutton-text-color: $palette-998675;

// 事例集設定
$case-article-headline-color: $palette-646464;
$case-article-background: $palette-F5F5F0;

// その他
$footer-text-color: $palette-787878;
$product-type-link-background: $palette-828282;
