// Font
$BASE_FONT_SIZE: 62.5%;

//$base-font-family: "AXIS Std R", "Helvetica Neue", arial,
//  "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;

$base-font-family: sans-serif;

$font-mincho: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", yumincho, "Yu Mincho",
  sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demibold: 600;
$font-weight-bold: 700;

// Image
$IMG_PATH: "../images/";

$pc-header-width: 1100px;
$pc-max-width: 980px;
$pc-inner-width: 940px;
