.c-tag {
    align-items: center;
    background: $base-blue;
    color: $base-white-taxt-color;
    display: inline-flex;
    min-height: 30px;
    min-width: 90px;
    padding: 0 5px;
    justify-content: center;
    white-space: nowrap;
}

.c-large-tag {
    background: $base-blue;
    color: $base-white-taxt-color;
    font-size: 28px;
    line-height: 1.8;
    padding: 0 5px;
    text-align: center;
}