.p-download-button {
    align-items: center;
    background: $base-blue;
    border-radius: 8px;
    color: $base-white-taxt-color;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    margin: 65px auto 0;
    max-width: 500px;
    padding: 10px;
    text-align: center;

    &:focus,
    &:hover {
        background: $download-button-background-hover;
    }
}

.p-download-button__icon {
    margin: 0 0 0 30px;
}