.p-download-button {
    background: $base-blue;
    border-radius: 8px;
    color: $base-white-taxt-color;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 65px auto 0;
    max-width: 500px;
    min-height: 68px;
    padding: 18px 88px 18px 10px;
    position: relative;
    text-align: center;

    &:focus,
    &:hover {
        background: $download-button-background-hover;
    }
}

.p-download-button__icon {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 28px;
    top: 0;
}