.p-large-banner {
    display: block;
    background: $base-pink;
    border-radius: 8px;
    margin: 0 auto;
    max-width: $pc-max-width;
    padding: 50px 5px 5px;
}

.p-large-banner__lead {
    color: $base-white-taxt-color;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


.p-large-banner__content {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 6px 0 0;
}

.p-large-banner__catch {
    color: $base-white-taxt-color;
    font-size: 85px;
    font-weight: bold;
    line-height: 1.2;
}

.p-large-banner__circle {
    align-items: center;
    background: $base-yellow;
    border-radius: 50%;
    color: $base-pink;
    display: flex;
    font-size: 50px;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    margin: 0 0 0 25px;
    width: 250px;
}

.p-large-banner__link {
    @include getTriangle($base-pink, right, 10, 12);
    background: $base-white;
    border-radius: 5px;
    color: $large-banner-gray-text;
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin: 43px 0 0;
    padding: 5px 220px;
    text-align: center;

    &::before {
        bottom: 0;
        position: absolute;
        right: 160px;
        top: 0;
    }

    &:focus,
    &:hover {
        background: $base-blue;
        color: $base-white-taxt-color;

        &::before {
            border-color: transparent transparent transparent $base-white;
        }

        .p-large-banner__icon {
            fill: $base-white;
            stroke: $base-white;
        }
    }
}

.p-large-banner__icon {
    bottom: 0;
    fill: $base-white;
    opacity: .8;
    margin: auto;
    position: absolute;
    right: 190px;
    stroke: $large-banner-gray-icon;
    stroke-miterlimit: 10;
    stroke-width: 1;
    top: 0;
}