<% var d = jsonData; -%>
    <footer class="l-footer">
        <div class="l-footer-pagetop">
            <a href="#js-scroll-top" class="c-pagetop">TOPに戻る</a>
        </div>
        <div class="l-footer-content">
            <div class="l-footer-content__container">
                <a href="http://www.pacwell.co.jp/index.html" class="l-footer-content__title">パックウェル株式会社</a>
                <div class="l-footer-content__navi">
                    <nav class="c-navi">
                        <ul class="c-navi__list">
                            <li class="c-navi__item">
                                <a href="http://www.pacwell.co.jp/aboutus/company.html" class="c-navi__link">会社概要</a>
                            </li>
                            <li class="c-navi__item">
                                <a href="http://www.pacwell.co.jp/contact.html" class="c-navi__link">お問い合わせ</a>
                            </li>
                            <li class="c-navi__item">
                                <a href="http://www.pacwell.co.jp/privacy.html" class="c-navi__link">プライバシーポリシー</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="l-footer-copy">
            <p class="l-footer-copy__text">Copyright(c) PACW ELL INC. Al l Rights Reserved.</p>
        </div>
    </footer>
    </div><!-- .l-wrapper -->
    <script src="<%- d.path %>js/script.js" async></script>
</body>
</html>