<% var d = jsonData; -%>
<header class="l-header">
    <div class="l-header-inner">
        <a href="<%- d.domain %>" class="l-header-title" onclick="ga('send', 'event', 'click', 'lp_link-01_headerLogo');" target="_blank">
            <img src="<%- d.path %>images/icon-ci.svg" alt="PACWELL パックウェル ソリューションプロバイダー" width="235" height="48">
        </a>
    </div>
</header>