<% var d = jsonData; -%>
<header class="l-header">
    <div class="l-header-inner">
        <a href="http://www.pacwell.co.jp/" class="l-header-title">
            <img src="<%- d.path %>images/icon-ci.svg" alt="PACWELL パックウェル ソリューションプロバイダー" width="235" height="48.46">
        </a>
    </div>
</header>