<% var d = jsonData; %>
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1100">
	<meta property="og:type" content="article">
	<title>#TODO</title>
	<meta property="og:title" content="#TODO">
	<meta property="og:url" content="#TODO">
	<meta name="description" content="#TODO">
	<meta property="og:description" content="#TODO">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="<%- d.path %>css/style.css">
	<!-- GTM -->
	<!-- // GTM-->
</head>
<body>
<!-- GTM -->
<!-- // GTM-->
<!-- SVG-->
<%- include('./_svg') %>
<!-- // SVG-->
<div class="l-wrapper" id="js-scroll-top">