<% var d = jsonData; -%>
<a href="<%- d.domain %>contact.html" class="p-common-banner">
    <div class="p-common-banner__lead">
        お問い合わせ・無償デモのお申し込みは今すぐ！
        <svg class="p-common-banner__icon" aria-label="お問い合わせ" width="40" height="40" role="img"><use xlink:href="#svg-mail" /></svg>
    </div>
    <div class="p-common-banner__content">
        <span class="p-common-banner__text">お電話でのお問い合わせ</span>
        <strong class="p-common-banner__strong">TEL：048-711-3789</strong>
    </div>
</a>