<% var d = jsonData; -%>
<div class="p-large-banner">
    <p class="p-large-banner__lead">導入前にその魅力をお確かめいただけます！</p>
    <div class="p-large-banner__content">
        <div class="p-large-banner__catch">無償デモ＆<br>無料サンプル</div>
        <div class="p-large-banner__circle">実施中！</div>
    </div>
    <a href="<%- d.domain %>contact.html" class="p-large-banner__link" onclick="ga('send', 'event', 'click', '<%- clickEvent %>');" target="_blank">
        お問い合わせ・無償デモのお申し込みは今すぐ！
        <svg class="p-large-banner__icon" aria-label="お問い合わせ" width="40" height="40" role="img"><use xlink:href="#svg-mail-large" /></svg>
    </a>
</div>